.header{
    background: #f3baf3;
    display: table;
    table-layout: fixed;
    width:100%;
}
.item{
    text-align: center;
    padding:1rem 0;
    display:table-cell;
    color:white;
    text-decoration: none;
    font-size: 1.1rem;
}
.item:hover{
    background:#eee;
}
.item:active, .item.active{
    background: #eee;
    color: #999;
}